.vscode
__pycache__
venv/
.python-version
data
exercises/MNIST
exercises/FashionMNIST
exercises/data
exercises/pizza_dad.jpeg
exercises/pizza.jpg
exercises/car.jpg
05_going_modular/data
runs/
models/